* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham";
  color: #192249;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambook.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothamlight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothammed.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Section 1: Landing Page - includes landing image, logotype, and navigation bar, as well as motto beneath. */
#sec1 {
  height: 100vh;
  width: 100vw;
  background-image: url("img/forestfog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Top "bar" */
.headerbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px solid black; */
}

/* Logotype */
#logotype {
  font-size: 3em;
  margin-left: 2.25vw;
}

/* Navigation Bar */
#navbar ul {
  margin-top: 3.55em;
  margin-right: 2vw;
  text-align: right;
}

#navbar ul li {
  list-style: none;
  display: inline;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 2.5px;
  padding: 0 20px;
}

#navbar ul li:hover {
  font-weight: 600;
  cursor: pointer;
}

.motto {
  font-weight: 400;
  font-size: 7.5em;
  margin-top: 23.5vh;
  text-align: center;
}

/* ************************************* */
/* .headerbar {
  width: 100vw;
  border: 2px solid black;
}

#orgname {
  font-size: 3em;
  margin: 1.25vh 0;
  display: inline-block;
  margin-right: 53%;
}

.navbar {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-right: 1vw;
  text-align: right;
}

.navbar li {
  text-align: right;
  font-size: 1.25em;
  list-style: none;
  display: inline-block;
}
*/
/* ************************************* */

.wrapper {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr;
}

/* .bodysec {
  width: 80vw;
  margin: 0 auto;
} */

#sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid red;
}

#aboutimg {
  height: 50vh;
  width: 50vh;
  background-image: url("img/drawing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 100px 100px;
}



#sec2 div {
  border: 2px solid pink;
}

#sec3 {
  border: 2px solid orange;
}

#sec4 {
  border: 2px solid green;
}

#sec5 {
  border: 2px solid blue;
}

#footbar {
  border: 2px solid purple;
}
