* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham";
  font-weight: 400;
  color: #192249;
  background-color: #FDF8F5;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambook.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothamlight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothammed.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Section 1: Landing Page - includes landing image, logotype, and navigation bar, as well as motto beneath. */
#sec1 {
  height: 100vh;
  width: 100vw;
  background-image: url("img/forestfog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Top "bar" */
.headerbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px solid black; */
}

/* Logotype */
#logotype {
  font-size: 3em;
  margin-left: 2.25vw;
}

/* Navigation Bar */
#navbar ul {
  margin-top: 3.55em;
  margin-right: 2vw;
  text-align: right;
}

#navbar ul li {
  list-style: none;
  display: inline;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 2.5px;
  padding: 0 20px;
}

#navbar ul li:hover {
  font-weight: 600;
  cursor: pointer;
}

.motto {
  font-weight: 400;
  font-size: 7.5em;
  margin-top: 23.5vh;
  text-align: center;
}

/* Wrapper for informational sections */
.wrapper {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0.55fr 1fr 0.25fr 1fr 0.2fr;
}

/* .bodysec {
  width: 80vw;
  margin: 0 auto;
} */

/* Section 2: About - includes image and text describing organization */
#sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5vh;
}

#aboutsec * {
  margin-left: 1.75vw;
}

#aboutimg {
  height: 38vw;
  width: 38vw;
  background-image: url("img/drawing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10vh 0;
  margin-left: 3vw;
  /* border: 1px solid #192249; */
}

#abtheadertext {
  margin-top: 15vh;
  font-weight: 500;
  font-size: 1.85em;
}

#abtunderline {
  margin-top: 0.5vh;
  margin-bottom: 5vh;
  height: 1.5px;
  width: 35%;
  background-color: #192249;
}

.abttext {
  line-height: 1.5;
  width: 82.5%;
  font-size: 0.95em;
}

/* Section 3: Products - includes image and a dropdown menu for a specific type of artist paper */
#sec3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid orange;
}

#dropdownbutton {
  font-size: 2em;
  cursor: pointer;
}

#sec3 div {
  border: 2px solid pink;
}

/* Section 4: Statistics */
#sec4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.statbold {
  font-size: 2.5em;
  font-weight: 500;
}

.statnorm {
  font-size: 1.4em;
  font-weight: 400;
}

#stat1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14vw;
}

#stat2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stat3 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3vw;
}

/* Section 5: Artist sponsors - 4 images with related text from each artist */
#sec5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.sponsorsec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sponsorimgsec {
  display: flex;
  justify-content: center;
  /* padding-top: 5vh; */
}

.sponsorimg {
  height: 19.5vw;
  width: 19.5vw;
  border-radius: 50%;
  margin-top: 2.5vh;
}

#artistimg1 {
  background-image: url("img/cytwombly.jpeg");
  background-size: cover;
}

#artistimg2 {
  background-image: url("img/robertrausch.jpg");
  background-size: cover;
}

#artistimg3 {
  background-image: url("img/jeanmichel.jpg");
  background-size: cover;
}

#artistimg4 {
  background-image: url("img/hiroshi.jpg");
  background-size: cover;
}

.sponsortxtsec {
  padding-bottom: 12vh;
}

.sponsorname {
  font-weight: 400;
  font-size: 1.3em;
  margin-left: 1vw;
  margin-top: 2vh;
}

.sponsorunderline {
  margin-top: 0.75vh;
  margin-left: 1vw;
  margin-bottom: 4.5vh;
  height: 1px;
  background-color: #192249;
}

#underline1 {
  width: 45%;
}

#underline2 {
  width: 68%;
}
#underline3 {
  width: 68%;
}
#underline4 {
  width: 58%;
}

.sponsortxt {
  width: 80%;
  font-size: 0.85em;
  margin-left: 1vw;
  line-height: 1.45;
  letter-spacing: 0.15px;
}

#footbar {
  border: 2px solid purple;
}
